body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/public/images/wallpaper.avif);
  background-position: absolute;
  background-size: cover;
}

header{
  background-color: #dad6d6;
  height: 80px;
}

header a{
  color: rgb(120, 165, 229);
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

header h5{
  color: rgb(15, 63, 131);
}

main{
  padding: 1rem;
}

main h1{
  text-align: center;
}

.mascotas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mascota{
  background-color: #dad6d6;
  border: 1.2px #404040 solid;
  border-radius: 15px;
  margin: 1.5rem;
}

.mascota img{
  width: 380px;
  height: 280px;
  border-radius: 15px;
}

.info-mascota{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-mascota p{
  font-weight: bold;
}

.info-mascota a{
  text-decoration: none;
  color: black;
}

.info-mascota a:hover{
  color: rgb(15, 63, 131);
}

.info-mascota button{
  background-color: #7b7a7a;
  border: 1.2px black solid;
  border-radius: 5px;
  color: rgb(15, 63, 131);
  font-weight: bold;
  margin-bottom: 10px;
}

.info-mascota button:hover{
  background-color: rgb(15, 63, 131);
  color: black;
}